<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h4><b>Livros</b></h4>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-success" (click)="AddBook()">
              <i class='fas fa-plus-circle'></i><span> ADD</span>
            </button>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered table-content">
        <thead>
          <tr class="center-align">
            <th>Titulo</th>
            <th>Autor</th>
            <th>Data da Publicação</th>
            <th>ISBN</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList" class="center-align">
            <td>{{ book.titulo }}</td>
            <td>{{ book.autor }}</td>
            <td>{{ book.dataPublicacao }}</td>
            <td>{{ book.isbn }}</td>
            <td>
              <a href="#" [routerLink]="['/EditBook/', book.id]" class="btn"><i class="fa fa-edit edit"></i></a>
              <button type="button" (click)="deleteBookConfirmation(book)" class="btn"><i class='fas fa-trash-alt delete'></i></button>
            </td>
          </tr>
          <tr>
            <td *ngIf="bookList.length == 0" colspan="5">Nenhum Livro foi encontrado</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
